.vendorItemContainer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  direction: rtl;
}
.vendorItem {
  background-color: white;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  width: 567px;
  min-height: 246px;
  &__header {
    position: relative;
    margin-bottom: 1rem;
  }
  &__body {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  &__footer {
    padding: 0 1rem;
    margin-bottom: 1rem;
  }
  &__imageContainer {
    max-height: 134px;
    overflow: hidden;
  }
  &__image {
    width: 100%;
  }
  &__logoContainer {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: -14px;
    right: 14px;
    padding: 0.2rem;
    border-radius: 0.4rem;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  }
  &__logo {
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    border: 1px solid rgba(64, 64, 64, 0.04);
  }

  &__title {
    font-size: 1rem;
    color: #404040;
    font-weight: 500;
    margin: 0;
  }
  &__desc {
    font-size: 0.9rem;
    color: #404040;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }
  &__deliveryType {
    font-size: 0.9rem;
    color: #404040;
    font-weight: 500;
  }
}

.delivery {
  &__type {
    color: #a3a3a3;
    font-size: 0.9rem;
    font-weight: 400;
    margin-left: 0.5rem;
  }
  &__fee {
    color: #404040;
    font-size: 0.9rem;
    font-weight: 500;
  }
}

.vendorItemRate {
  display: flex;
  align-items: center;
  &__vote {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-right: 0.5rem;
    color: #5ba839;
    background-color: rgba(91, 168, 41, 0.08);
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
  }
  &__number {
    margin-bottom: -0.3rem;
    margin-left: 0.2rem;
  }
  &__totalVote {
    color: #c3c3c3;
    font-size: 0.9rem;
    font-weight: 300;
  }
}
