.vendorFilters {
  height: 4rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.filterItem {
  background-color: #ffffff;
  margin-left: 0.5rem;
  padding: 0.4rem 1rem;
  border-radius: 10rem;
  border: 1px solid rgba(34, 169, 88, 0.2);
  color: #22a958;
  font-size: 1rem;
  cursor: pointer;
  &__isActive {
    background-color: #22a958;
    color: #ffffff;
  }
}
