.vendorsListPage {
}
.vendorsListLoading {
  width: 585px;
  height: 2rem;
  margin: auto;
  background-color: #f579c9;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
