.homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcomeSection {
  &__header {
    margin-bottom: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }
  &__body {
    text-align: center;
  }
}

.welcomeButtonIcon {
  margin-left: 0.5rem;
}
